/*Google fonts import*/
  @import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200;500&family=Cinzel+Decorative:wght@400;700&family=Lato:wght@300&family=Poiret+One&family=Text+Me+One&family=Tilt+Neon&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #56423E;
    font-family: "Albert", sans-serif;
    font-size: 150%;
}
/* Header */
header {
    background-color: #FFB3A6;
    padding: 0 1rem;
    position: fixed; 
    z-index: 99;
    width: 100%; 
    box-shadow: 0 2px 2px #56423E;
    display: flex;
    justify-content: space-between; 
    align-items: baseline;
}

header a {
    text-decoration:none; 
    color:inherit; 
}

h1 {
    font-family: 'Tilt Neon', sans-serif;
    font-size: 400%;
    color: #40302D; 
}

#menu {
    list-style-type: none;
    font-size: 120%;

}

.active {
    border-bottom: 1px solid #56423E;
}

/*Navbar styles with dropdown toggle menu*/ 
nav {
    position: absolute; 
    background-color: #FFB3A6; 
    width: 100%;
    align-self: left; 
    padding: 0 1rem;
    box-shadow: 0 2px 2px #56423E;
    display:none;
    top: 100%;
}

/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle{
    display: none; 
}
.nav-toggle-label {
    font-size:300%; 
}
/* Main content */
main {
    background-color: #FEEBD6;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/*Hero section styles*/
#hero {
    height: 700px;
    width: 100%;
    background: url("../css/images/reba-spike-OjB_lkGKhX8-unsplash.jpg") no-repeat center center/cover;
    position: relative;
}

#about {
    width: 100%;
    position: relative; 
}

#abouttext {
    display: flex; 
    justify-content: flex-end;
    align-items: flex-end; 
    flex-direction: column;
    font-size: 60%
}
/* Footer */
footer {
    background-color: #FF7B89;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
        font-size: 120%;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 240%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }

    /*Footer*/ 
#footer {
      text-align: center;
       height: 400px;
       padding: 3px;
    }
    
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

 
    #social-networks i{
        font-size: 150%;
        color: #56423E;
    }

    /* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #40302D;
    }

    #logo {
        font-size: 200%;
        line-height: 75px;
    }

    #menu {
        display: flex;
        font-size: 95%;
    }
}
}
