/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200;500&family=Cinzel+Decorative:wght@400;700&family=Lato:wght@300&family=Poiret+One&family=Text+Me+One&family=Tilt+Neon&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #56423E;
    font-family:'Tilt Neon', sans-serif;
    font-size: 100%;
}
/* Header */
header {
    background-color: #FFB3A6;
    padding: 0 1rem;
    position: fixed; 
    z-index: 99;
    width: 100%; 
    box-shadow: 0 2px 2px #56423E;
    display: flex;
    justify-content: space-between; 
    align-items: baseline;
}

header a {
    text-decoration: none; 
    color: inherit; 
}

h1 {
    font-family: 'Tilt Neon', sans-serif;
    font-size: 150%;
    color: #40302D; 
}

#menu {
    list-style-type: none;
    font-size: 120%;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #56423E;
}

/*Navbar styles with dropdown toggle menu*/ 
/*Navbar shows white gap in bigger screen sizes*/
nav {
    position: absolute; 
    background-color: #FFB3A6; 
    width: 100%;
    left:0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #56423E;
    display:none;
    top: 100%;
}

/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle{
    display: none; 
}

.nav-toggle-label {
    font-size:240%; 
}

/* Main content */
main {
    background-color: #FEEBD6;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/*Hero section styles*/
#hero {
    height: 900px;
    width: 100%;
    /*picture is supposed to look larger but cropped in small devices*/
    background: url("../images/herokitty.jpg") no-repeat center center/cover;
    position: relative;
}

#hero-sub-heading {
  padding-left: 1rem;
}

#cover-text {
    color:#FEEBD6;
    font-family: 'Tilt Neon', sans-serif;
    padding: 1rem;
    /*background color to make text visible against image*/
    background-color: rgba(0, 0, 0, 0.5);  
   /*trying to move text to bottom of image not working*/
    display:flex;
    align-items: flex-end;
    align-content: flex-end;
}

.about {
    display:grid;
    grid-template-columns: auto;
}

#abouttext {
    display:inline-grid;
    margin:auto;
    order:-1;
    font-size:100%;
    padding:1rem;
    text-align:center;
}

#abouttext {
    display:inline-grid;
    margin:auto;
    order:1;
    font-size:100%;
    padding:1rem;
    text-align:center;
}
#leonaabout-div {
  display: flex;
  justify-content: center;
  align-items: center;
  order:0;

}

#leonaabout {
    margin: 0 auto;
    width:50%;
}

/* Footer */
footer {
background-color: #FFB3A6;
text-align: center;
padding: 3px;
}

#social-networks {
text-align: center;
padding: 20px 0;
display: flex;
justify-content: space-evenly;
list-style-type: none;
}

#social-networks i{
font-size: 150%;
color: #56423E;
}

#address {
    padding-top: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items:center;
    align-self: center;
}

#address img {
    max-width:60%;
    height:auto;
    padding:1rem;
}
#map {
    padding-top: 10px;
}

/*Our cats page*/
.cat-div {
    display:grid;
    grid-template-columns: auto;
    justify-content:center;
    align-items:center;
    padding: 1rem;
}

.cat-div p {
    text-align: center;
}

 #meet-our-cats {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: larger;
} 

.cat-name {
  margin: 0 auto;
  padding: 1rem;
  font-size: larger;
  font-style: italic;
}

.cat {
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 0 auto;
}
#our-cats {
    margin: 20px;
}

#cat-descriptions {
    display: grid;
    grid-template-columns: auto;
    margin: 20px;
}

/*Form*/
booking-section {   
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    margin: 20px;
} 
#form {
    padding-top: 20px;
    padding-right: 10%;
    margin: 8px 0;
    padding-bottom: 20px;
    padding-left: 10%;
    box-sizing: border-box;
}
input[type=text] {
    border: 2px solid #40302D;
    margin: 8px 0;
    /*border-radius: 2px;
    padding: 12px 20px;*/
  }

input[type=email] {
    border: 2px solid #40302D;
    margin: 8px 0;
  
  }
  input[type=date] {
    border: 2px solid #40302D;
    margin: 8px 0;
 
  }

  input[type=time] {
    border: 2px solid #40302D;
    margin: 8px 0;
 
  }
  input[type=radio] {
    margin: 8px 0;
  }

  .join-button{
    all: none;
  }

  button[type=submit] {
    border: 2px solid #40302D;
    margin: 8px 0;
    border-radius: 2px;
    padding: 12px 20px;
    font-family:'Tilt Neon', sans-serif;
    background-color:#ffffff;
  }



/* Media query: tablets and larger (768px and up) */
@media(min-width: 768px) {
       h1 {
        font-size: 1.5rem;
        padding-top: 1.1rem;
       }
        
        nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #cat-descriptions {
      grid-template-columns: auto auto auto;
  }
         #menu {
        display: flex;
        font-size: 120%;
        }
        #menu > li {
         padding-left: 1rem;
        }
    /*Media query is failing since change below appears in mobile screens too*/
         .nav-toggle-label{
         display: none;
        }
    
    /* Main content */
         main {
    /* Push main content down to accommodate larger header */
          margin-top: 68px;
        }
        /*about section doesn't look centered*/ 
        .about {
            display:grid;
            grid-template-columns: auto auto auto;
        }
        
        .abouttext {
         display:inline-grid;
         margin: auto;
         flex-direction:row;
         flex-wrap: wrap; 
         order: -1;
         font-size: 100%;
         padding:1rem;
        }  
         /*Leona pic should be in the middle*/
        #leonaabout {
        display:flex;
        margin: auto;
        order: 0;
        font-size: 60%;
        }   
          
      
    /*Footer*/
         #footer {
        text-align: center;
        padding: 3px;
    }
         #social-networks {
        text-align: center;
        padding: 20px 0;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
    }
    #map {
        padding-top: 10px;
        /*trying to make map smaller in bigger screens*/ 
        width:600px;
        height:auto;
    }
    
}     
    /* Large devices (laptops and desktops, 992px and up) */
@media(min-width: 992px) {
        h1 {
        padding-top: 1.5rem;
       }
        #menu a:hover{
        border-bottom: 1px solid #40302D;
    }
         main {
    /* Push main content down to accommodate larger header */
          margin-top: 73px;
        }
               
} 